{% extends 'layout.html' %}
{% load thumbnail %}

{% block 'body' %}

<div class="m-5">
    <div class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                {% thumbnail banner1.bannerimage.image "1200x630" as banner%}
                <img class="d-block w-100" src="{{ banner.url }}" alt="">
                {% endthumbnail %}
            </div>
        </div>
    </div>

    <div class="">
        <hr class="m-5">
        <h3 class=""><i class="bi bi-activity"></i> دوره های به روز شده</h3>
        <ul class="d-flex flex-row overflow-auto justify-content-between m-5">
            {% for course in updated_courses %}
            <li class="list-group-item border-0">
                {% include 'course/course-card-com.html' %}
            </li>
            {% endfor %}
        </ul>
        <hr class="m-5">
        <h3 class=""><i class="bi bi-heart"></i> دوره های محبوب</h3>
        <ul class="d-flex flex-row overflow-auto justify-content-between m-5">
            {% for course in popular_courses %}
            <li class="list-group-item border-0">
                {% include 'course/course-card-com.html' %}
            </li>
            {% endfor %}
        </ul>
        <div class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    {% thumbnail banner2.bannerimage.image "1200x630" as banner%}
                    <img class="d-block w-100" src="{{ banner.url }}" alt="">
                    {% endthumbnail %}
                </div>
            </div>
        </div>
        <hr class="m-5">
        <h3 class=""><i class="bi bi-clock-history"></i> آخرین مقالات</h3>
        <ul class="d-flex flex-row overflow-auto justify-content-between m-5">
            {% for article in latest_articles %}
            <li class="list-group-item border-0">
                <div class="card" style="width: 20rem;">
                    {% thumbnail article.image "286x180" quality=60 as img %}
                    <img src="{{ img.url }}" class="card-img-top" alt="{{ article.title }}">
                    {% endthumbnail %}
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{ article.description }}</p>
                        <div class="d-flex text-secondary">
                            <p>نوشته شده توسط: </p>
                            <p>{{ article.author }}</p>
                            <p>در</p>
                            <p>{{ article.date }}</p>
                        </div>
                        <a href="{% url 'ArticleSingleURL' slug=article.slug %}" class="btn btn-primary">مطالعه کنید</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <hr class="m-5">
        <div class="nl-box text-center nl-box">
            <h3 class="">از آخرین دوره ها، تخفیف ها و مقالات برتر با خبر شوید!</h3>
            <br>
            <div class="d-flex justify-content-center"><input type="email" class="form-control w-50 text-center"
                                                              placeholder="آدرس پست الکترونیک"></div>
            <br>
            <bt class="btn btn-dark">عضویت در خبرنامه</bt>
        </div>
    </div>


</div>

{% endblock %}