{% extends 'layout.html' %}

{% block 'body' %}
    <div class="navbar bg-secondary w-100">
        <form action="" class="d-flex m-3">
            <input class="form-control" placeholder="جستجو در مقالات">
            <button class="btn btn-primary"><i class="bi bi-search"></i></button>
        </form>
        <div class="d-flex border rounded m-3">
            <button class="btn border-start rounded-0">نویسنده شوید!</button>
        </div>
    </div>



    <div class="row p-5">
        <div class="card m-3" style="width: 18rem;">
            <img src="https://placeimg.com/286/180/tech" class="card-img-top rounded-3 mt-2" alt="">
            <div class="card-body">
                <h5 class="card-title">آموزش پایتون مقدماتی</h5>
                <p>
                    نویسنده: سروش غلامزاده
                    <br>
                    زمان مطالعه: 20 دقیقه
                    <br>
                    تاریخ: 28 اردیبهشت
                </p>
                <a href="#" class="btn btn-primary">مطالعه</a>
            </div>
        </div>
        <div class="card m-3" style="width: 18rem;">
            <img src="https://placeimg.com/286/180/tech" class="card-img-top rounded-3 mt-2" alt="">
            <div class="card-body">
                <h5 class="card-title">آموزش پایتون مقدماتی</h5>
                <p>
                    نویسنده: سروش غلامزاده
                    <br>
                    زمان مطالعه: 20 دقیقه
                    <br>
                    تاریخ: 28 اردیبهشت
                </p>
                <a href="#" class="btn btn-primary">مطالعه</a>
            </div>
        </div>
        <div class="card m-3" style="width: 18rem;">
            <img src="https://placeimg.com/286/180/tech" class="card-img-top rounded-3 mt-2" alt="">
            <div class="card-body">
                <h5 class="card-title">آموزش پایتون مقدماتی</h5>
                <p>
                    نویسنده: سروش غلامزاده
                    <br>
                    زمان مطالعه: 20 دقیقه
                    <br>
                    تاریخ: 28 اردیبهشت
                </p>
                <a href="#" class="btn btn-primary">مطالعه</a>
            </div>
        </div>
        <div class="card m-3" style="width: 18rem;">
            <img src="https://placeimg.com/286/180/tech" class="card-img-top rounded-3 mt-2" alt="">
            <div class="card-body">
                <h5 class="card-title">آموزش پایتون مقدماتی</h5>
                <p>
                    نویسنده: سروش غلامزاده
                    <br>
                    زمان مطالعه: 20 دقیقه
                    <br>
                    تاریخ: 28 اردیبهشت
                </p>
                <a href="#" class="btn btn-primary">مطالعه</a>
            </div>
        </div>
        <div class="card m-3" style="width: 18rem;">
            <img src="https://placeimg.com/286/180/tech" class="card-img-top rounded-3 mt-2" alt="">
            <div class="card-body">
                <h5 class="card-title">آموزش پایتون مقدماتی</h5>
                <p>
                    نویسنده: سروش غلامزاده
                    <br>
                    زمان مطالعه: 20 دقیقه
                    <br>
                    تاریخ: 28 اردیبهشت
                </p>
                <a href="#" class="btn btn-primary">مطالعه</a>
            </div>
        </div>
        <div class="card m-3" style="width: 18rem;">
            <img src="https://placeimg.com/286/180/tech" class="card-img-top rounded-3 mt-2" alt="">
            <div class="card-body">
                <h5 class="card-title">آموزش پایتون مقدماتی</h5>
                <p>
                    نویسنده: سروش غلامزاده
                    <br>
                    زمان مطالعه: 20 دقیقه
                    <br>
                    تاریخ: 28 اردیبهشت
                </p>
                <a href="#" class="btn btn-primary">مطالعه</a>
            </div>
        </div>
        <div class="card m-3" style="width: 18rem;">
            <img src="https://placeimg.com/286/180/tech" class="card-img-top rounded-3 mt-2" alt="">
            <div class="card-body">
                <h5 class="card-title">آموزش پایتون مقدماتی</h5>
                <p>
                    نویسنده: سروش غلامزاده
                    <br>
                    زمان مطالعه: 20 دقیقه
                    <br>
                    تاریخ: 28 اردیبهشت
                </p>
                <a href="#" class="btn btn-primary">مطالعه</a>
            </div>
        </div>

    </div>
{% endblock %}