{% extends 'layout.html' %}

{% block 'body' %}
    <div class="card mx-auto m-5" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title">بازیابی کلمه عبور</h5>
            <h6 class="card-subtitle mb-2 text-muted">برای بازیابی کلمه عبور مشخصات زیر را کامل کنید.</h6>
            {% if success %}
                <div class="alert alert-success">در صورت مطابقت ایمیل و شماره تلفن، ایمیل بازیابی کلمه عبور ارسال شده است. این ایمیل ممکن است در پوشه اسپم یا هرزنامه قرار گرفته باشد.</div>
            {% endif %}
            <form action="{% url 'UserRecoveryURL' %}" class="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.email.label }}
                    {{ form.email }}
                    <div class="form-text">{{ form.email.errors }}</div>
                </div>
                <div class="mb-3">
                    {{ form.phone.label }}
                    {{ form.phone }}
                    <div class="form-text">{{ form.phone.errors }}</div>
                </div>
                <hr>
                <div class="mb-3">
                    <h6>من ربات نیستم</h6>
                    {{ form.captcha }}
                    {{ form.captcha.errors }}
                </div>
                <hr>
                <button type="submit" class="btn btn-primary">ارسال درخواست بازیابی</button>
            </form>
        </div>
    </div>
{% endblock %}