{% extends 'layout.html' %}

{% block 'body' %}
    <div class="card mx-auto m-5" style="width: 20rem;">
        <div class="card-body">
            <div class="alert alert-success">درخواست تغییر کلمه عبور با موفقیت ارسال شد. برای ادامه روند ایمیل خود را چک کنید.</div>
            <div class="alert alert-warning">ممکن است این ایمیل در پوشه اسپم یا هرزنامه قرار گرفته باشد. حساب کاربری شما تا پایان فرایند تغییر رمز غیر فعال است.</div>
            <div class="alert alert-warning">اگر ایمیل را دریافت نکردید، با پشتیبانی تماس بگیرید.</div>
        </div>
    </div>
{% endblock %}