<footer class="bd-footer py-5 mt-5 bg-dark text-light">
    <ul class="d-flex flex-row justify-content-around p-5">
            <li>
                <h5>لینک های سایت</h5>
                <ul>
                    <li class="nav-item"><a href="{% url 'HomeURL' %}">خانه</a></li>
                    <li class="nav-item"><a href="{% url 'CourseIndexURL' %}">دوره ها</a></li>
                    <li class="nav-item"><a href="{% url 'ArticleIndexURL' %}">مقالات</a></li>
                    <li class="nav-item"><a href="{% url 'DocufaLandingURL' %}">داکیوفا</a></li>
                    <li class="nav-item"><a href="{% url 'ForumLandingURL' %}">انجمن</a></li>
                    <li class="nav-item"><a href="{% url 'CourseIndexURL' %}">تماس با ما</a></li>
                    <li class="nav-item"><a href="{% url 'CourseIndexURL' %}">درباره ما</a></li>
                </ul>
            </li>
            <li>
                <h5>لینک های مفید</h5>
                <ul>
                    <li><a href="">پایتون</a></li>
                    <li><a href="">مایکروسافت</a></li>
                    <li><a href="">اوبونتو</a></li>
                    <li><a href="">ارکیل</a></li>
                    <li><a href="">بوت استرپ</a></li>
                </ul>
            </li>
            <li>
                <h5>تماس با ما</h5>
                <ul>
                    <li><a href="{% url 'AboutUsURL' %}">درباره ما</a></li>
                    <li><a href="{% url 'ContactUsURL' %}">تماس با ما</a></li>
                    <li><a href="{% url 'SupportURL' %}">پشتیبانی برخط</a></li>
                </ul>
            </li>
            <li>
                <h5>هدف ما</h5>
                <p></p>
            </li>
    </ul>
    <div class="text-center"><i class="bi bi-c-circle"></i>تمامی حقوق محفوظ است.</div>
</footer>