<!DOCTYPE html>
<html lang="fa" dir="rtl" charset="UTF-8">
<div class="">
    <p>
    <h5>ایمیل فعالسازی حساب کاربری</h5>
    {{ user.first_name }} {{ user.last_name }} عزیز،
    این نامه مطابق درخواست شما برای تغییر کلمه عبور و فعالسازی حسابتان ارسال شده است.
    <br>
    <b>جهت فعالسازی ادامه فرایند آدرس زیر را در مرورگر خود وارد کنید.</b>
    <br>
    <a href="http://xtechno.ir/user/activation/{{ user.activation_code }}">http://xtechno.ir/user/activation/{{
        user.activation_code }}</a>
    <br>
    <p style="color:blue;">اکر شما چنین درخواستی ارسال نکرده اید، این نامه را نادیده بگیرید.</p>
    </p>
</div>
</html>