<!DOCTYPE html>
<html lang="fa" dir="rtl" charset="UTF-8">
<div class="">
    <p>
        <h5>ایمیل فعالسازی حساب کاربری</h5>
        {{ user.first_name }} {{ user.last_name }} عزیز،
        این نامه جهت تایید نشانی پست الکترونیکی شما و فعالسازی حسابتان ارسال شده است.
        <br>
        <b>جهت فعالسازی حساب کاربری آدرس زیر را در مرورگر خود وارد کنید.</b>
        <br>
        <a href="http://xtechno.ir/user/activation/{{ user.activation_code }}">http://xtechno.ir/user/activation/{{ user.activation_code }}</a>
        <p style="color:red;">توجه کنید فعالسازی حساب کاربری به معنی پذیرفتن تمامی قوانین است!</p>
    </p>
</div>
</html>